{% extends 'core/base.html' %}
{% block title %}{% if form.instance.pk %}Update Course{% else %}Create Course{% endif %}{% endblock %}

{% block content %}
<h1 class="h3 mb-4 text-gray-800">{% if form.instance.pk %}Update Course{% else %}Create Course{% endif %}</h1>

<div class="card shadow mb-4">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Save</button>
            <a href="{% url 'core:hod_course_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}