{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Welcome to your Dashboard, {{ user.username }}!</h1>
    <p>Your role is: <strong>{{ role }}</strong></p>
    <hr>
    
    {% if role == 'Head of Department' %}
        <div class="list-group">
            <a href="{% url 'core:hod_course_list' %}" class="list-group-item list-group-item-action">
                Manage Courses in Your Department
            </a>
        </div>
    {% endif %}

    {% if role == 'Student' %}
        <div class="list-group">
            <a href="{% url 'core:student_course_list' %}" class="list-group-item list-group-item-action">
                View My Enrolled Courses
            </a>
            <a href="{% url 'core:student_transcript' %}" class="list-group-item list-group-item-action">
                View My Grades / Transcript
            </a>
        </div>
    {% endif %}
    
    {% if role == 'Faculty' %}
        <div class="list-group">
            <a href="{% url 'core:faculty_subject_list' %}" class="list-group-item list-group-item-action">
                View My Assigned Subjects
            </a>
            </div>
    {% endif %}

{% endblock %}