{% extends 'core/base.html' %}
{% block title %}My Courses{% endblock %}

{% block content %}
    <h1 class="h3 mb-4 text-gray-800">My Enrolled Courses</h1>
    <div class="row">
        {% for course in enrolled_courses %}
        <div class="col-lg-6 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">Course Code: {{ course.code }}</p>
                    <a href="{% url 'core:student_course_detail' course.pk %}" class="btn btn-primary">View Course</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>You are not currently enrolled in any courses.</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}